body { font-family: "Roboto Slab", serif !important;}

.black {
    color: #241f1f;
}

.white {
    color: #fff;
}

.yellow {
    color: #ffdc00
}

a:hover {
    color: #ffdc00 !important;
    text-decoration: inherit !important;
    transition: all .15s ease;
}


.default-padding-top {
    padding-top: 30px;
}

.default-padding-bottom {
    padding-bottom: 30px;
}

.store-nav {
    background-color: #241f1f;
    box-shadow: 0px 2px #ffdc00;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 22px 1rem;
}

.store-nav--nav {
    color: #fff;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.store-nav--logo-icon {
    font-size: 43px;
}

.store-nav--Logo-text {
    font-size: 22px;
    line-height: 1;
}

.store-nav--cart {
    color: #fff !important;
    display: flex;
    flex-direction: row;
    align-items: end;
    cursor:pointer
}

.store-nav--total {
    margin-bottom: -3px;
}

.store-nav--cart-counter {
    position: absolute;
    left: 90%;
    bottom: 60%;
    border-radius: 50%;
    color: #241f1f;
    background-color: #ffdc00;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
}

/* Calc(top + nav bar height) */
.cart {
    position: fixed;
    z-index: 10;
    top: calc(0px + 88px);
    right: 0;
    height: calc(100vh - 88px);
    width: 30%;
    background-color: #241f1f;
    transition: 0.3s ease-in;
  }

.cart--title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.cart--close-button {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    cursor:pointer;
}

.cart--counters-container {
    position: absolute;
    top: 76px;
    bottom: 110px;
    left: 0;
    right: 0;
    overflow-y: auto;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

.cart--counter {
    color: #fff;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.cart--image img {
    height: 140px;
}

.cart--counter-title {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0px;
}

.cart--counter-sub-total {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0 !important;
    padding-right: 47px;
    font-weight: 500;
} 

.cart--checkout-box {
    text-align: center;
    padding: 16px;
    text-align: center;
    padding: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #241f1f;
}

.cart--total {
    font-weight: 700;
    color: #fff;
}

.cart--checkout-box .btn {
    width: 160px;
}

.cart--buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storefront--card {
    background-color: #909090;
    border-radius: 3px;
    padding: 8px;
}

.storefront--card img {
    height: 180px;
    max-width: 100%;
}