body { font-family: "Roboto", sans-serif !important; }

.store-nav {
    box-shadow: 0px 2px #909090;
}

/* Calc(top + nav bar height) */
.cart {
    position: absolute;
    top: calc(0px + 56px);
    right: 0;
    bottom: 0;
    width: 30%;
    background-color: rgba(144,144,144, 0.7);
    transition: 0.3s ease-in;
}
